# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

SERVER_PORT=8080

DATABASE_URL=postgresql://docker:docker@localhost:5432/next-saas?schema=public

JWT_SECRET=qwertyuiop!@#$%&*()1234567890...

GITHUB_OAUTH_CLIENT_ID=qwertyuiop!@#$%&*()1234567890...
GITHUB_OAUTH_CLIENT_SECRET=qwertyuiop!@#$%&*()1234567890...
GITHUB_OAUTH_REDIRECT_URI=http://localhost:3333/redirect-uri
GITHUB_OAUTH_LOGIN_URI=https://github.com/login/oauth/access_token
GITHUB_OAUTH_IDENTITY_URI=https://github.com/login/oauth/authorize
GITHUB_OAUTH_GRANTED_ACCESS_URI=https://api.github.com/user
